<div>
    <p>Hi, <%= tokenObject.user.name %> !</p>
    <br>
    <br>
    <p>Your resetLink:  <strong> <a href="http://localhost:8000/forgotPassword/finalReset/<%= tokenObject.accessToken %>">Go to reset Page</a></strong> is here.</p>
    <br>
    <br>
    <p>Thanks! Codial</p>
</div>