<h1>
<h5>
    
    <ul>
        <% if(locals.user){ %>

          <li>  <a href="/user/profile"> <%= user.name %></a></li>
    <li><a href="/user/logout">Logout</a></li>
    <% } else{ %>

        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
<% } %>
    </ul>
    
</h5>
    Header
</h1>

<hr>