
<div class="topnav">
    <span id="site">Codial</span>
    <% if(locals.user){ %>
    <a class="links" href="/user/profile"> <%= user.name %></a>
    <a class="links" href="/user/logout">Logout</a>
    <% } else{ %>
        <a class="links" href="/user/login">Login</a>
        <a class="links" href="/user/signup">Signup</a>
        <% } %>
  </div>