<form action="/forgotPassword/resetCompletion/<%= token %>" method="POST">

    <label for="password">New password</label>
    <input type="password" name="pass1">

    <label for="confirmPass">ConfirmPassword</label>
    <input type="password" name="pass2">
    <input type="submit" value="Submit">
</form>