 
    
    <h1><%= title %></h1>



    <section>
        <% if(locals.user) {%>
        <h4>Share post</h4>
        <form action="/posts/create" method="post" id="new-postForm">
            <textarea name="content" id="" cols="30" rows="10" placeholder="What's on you mind?" required></textarea>
            <input type="submit" value="Post">
        </form>

       
        <%}%>
    </section>

    <hr>
    <section>
        <h3>See what's happening around you & your peeps</h3>
        <div id="post-list-container">
                <% for (post of posts) {%>
                    <%- include('_post') %>
                 
                  <%}%>
        </div>
    </section>
    
    <section id="user-friends">

    <h4>Friends</h4>
    <% if (users) { %>
     
    
    <% for( u of users) { %>
    <p>
        <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
    </p>
    <% } %>
    <% } %>

    </section>
    <!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>