<form action="create-session" method="POST">

    
    <label for="email" >email</label>
    <input type="text" name="email" required>
    <label for="password" >Password</label>
    <input type="password" name="password" required>
    <button type="submit">Submit</button>
</form>

<p>
    <a href="/user/auth/google">Google SignIn/ SignUp</a>
    <p>
        <a href="/forgotPassword/resetPage">Forgot Password?</a>
    </p>
</p>